.b-card
  .b-card__item
    .b-card__thumb
      img(src="https://placehold.jp/150x100.png")
    h2.b-card__title title
    .b-card__text text...text...
  .b-card__item
    .b-card__thumb
      img(src="https://placehold.jp/150x100.png")
    h2.b-card__title title
    .b-card__text text...text...
  .b-card__item
    .b-card__thumb
      img(src="https://placehold.jp/150x100.png")
    h2.b-card__title title
    .b-card__text text...text...
