table.b-table
  thead
    tr
      th thead>tr>th
      td thead>tr>td
  tbody
    tr
      th tbody>tr>th
      td tbody>tr>tr
    tr
      th tbody>tr>th
      td tbody>tr>tr
    tr
      th tbody>tr>th
      td tbody>tr>tr
    tr
      th tbody>tr>th
      td tbody>tr>tr
